@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$standard-font: 'Lato', sans-serif;
// Colors //
$neutral: #ffffff;
$gray: #d2d2d2;
$dark: #000000;
$dark_gray: #3c3c3c;

// Breakpoints //
$small: 500px;

$item-padding: 10px;

$teams: (
  'angels',
  'astros',
  'athletics',
  'bluejays',
  'braves',
  'brewers',
  'cardinals',
  'cubs',
  'd-backs',
  'dodgers',
  'giants',
  'indians',
  'mariners',
  'marlins',
  'mets',
  'nationals',
  'orioles',
  'padres',
  'phillies',
  'pirates',
  'rangers',
  'rays',
  'reds',
  'redsox',
  'rockies',
  'royals',
  'tigers',
  'twins',
  'whitesox',
  'yankees',
  'mlb'
);

$team-primary-colors: (
  angels: #BA0021,
  astros: #002863,
  athletics: #00483a,
  bluejays: #104490,
  braves: #043164,
  brewers: #08142e,
  cardinals: #c42842,
  cubs: #0e3386,
  d-backs: #b91134,
  dodgers: #005A9C,
  giants: #272425,
  indians: #233b62,
  mariners: #004467,
  marlins: #000000,
  mets: #004784,
  nationals: #ba0c2f,
  orioles: #000000,
  padres: #002d62,
  phillies: #cd1040,
  pirates: #27261F,
  rangers: #004286,
  rays: #09275D,
  reds: #C6001E,
  redsox: #BC3039,
  rockies: #2b296f,
  royals: #004687,
  tigers: #002244,
  twins: #0A2142,
  whitesox: #27261F,
  yankees: #142448,
  mlb: #050184
);

$team-secondary-colors: (
  angels: #002E64,
  astros: #FA5E00,
  athletics: #fdc157,
  bluejays: #EB0000,
  braves: #bd1031,
  brewers: #aa8138,
  cardinals: #0A2141,
  cubs: #cc3433,
  d-backs: #000000,
  dodgers: #004680,
  giants: #d9782d,
  indians: #e2233f,
  mariners: #006C5F,
  marlins: #e65c2b,
  mets: #f37937,
  nationals: #041e42,
  orioles: #FF0F00,
  padres: #9EAAB3,
  phillies: #00529b,
  pirates: #ffc425,
  rangers: #DE0033,
  rays: #88BBE9,
  reds: #000000,
  redsox: #0A2141,
  rockies: #858a8d,
  royals: #bf9a5b,
  tigers: #f9461c,
  twins: #CA001C,
  whitesox: #898D8F,
  yankees: #e3002b,
  mlb: #C60000
);

@mixin container(){
  max-width: 860px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 30px 35px 2px rgba(0,0,0,0.75);
          box-shadow: 0px 30px 35px 2px rgba(0,0,0,0.75);
}

@mixin flex-center(){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
}

@mixin first-letter() {
  display: inline-block;
  padding-left: 5px;
  &::first-letter {
    font-size: 1.3em;
  }
}

@mixin data-container-items() {
  padding: $item-padding;
  &:not(:last-child){
    border-bottom: solid 1px $gray;
  }
}

@mixin transparent-team-background($team) {
  background: transparentize(darken(map-get($team-primary-colors, $team), 10), .5);
}

@mixin team-background($team) {
  background: map-get($team-primary-colors, $team);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
            transform:rotate(360deg);
  }
}

* {
  font-family: $standard-font;
  letter-spacing: 1px;
}

#root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;

  &:after {
    content: "";
    background: url('../img/baseball.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    height: 100%;
  }
}

body {
  margin: 0px;
  position: relative;
}

.heading {
  @include container();
}
.container {
  @include container();
  background: url('../img/bg.jpg');
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@each $team in $teams{
  .header--#{$team}, .footer--#{$team} {
    @include transparent-team-background($team);
  }
  .footer__content--#{$team}{
    @include team-background($team);
  }
  .nav {
    &__ul--#{$team} {
      border-bottom: solid 10px map-get($team-primary-colors, $team);
    }
    &__li-span {
      &--primary-#{$team} {
        color: map-get($team-primary-colors, $team);
      }
      &--secondary-#{$team} {
        color: map-get($team-secondary-colors, $team);
      }
    }
    &__sub {
      &-ul--#{$team} {
        @include team-background($team);
      }
      &-li--#{$team} {
        &:hover {
          background: desaturate(lighten(map-get($team-primary-colors, $team), 5%), 15%);
        }
      }
    }
  }
  .main--#{$team} {
    @include transparent-team-background($team);
  }
  .block__heading--#{$team} {
    @include team-background($team);
  }

  .carousel .slide .legend--#{$team} {
    @include team-background($team);
    border: solid 1px darken(map-get($team-primary-colors, $team), 10%);
    &:hover {
      background: darken(map-get($team-primary-colors, $team), 5%);
    }
  }
}

.nav {
  &__ul {
    margin: 0px;
    padding: 0px;
    background: $neutral;
  }
  &__li {
    @include flex-center();
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: 5px auto -webkit-focus-ring-color;
    }
    &-img {
      max-width: 100px;

      @media screen and (max-width: $small) {
        max-width: 75px;
      }
    }
    &-h1 {
      display: inline-block;
      text-transform: uppercase;
      padding: 0px 10px;
      font-weight: 900;
      @media screen and (max-width: $small) {
        font-size: 1em;
      }
    }
    &-span {
      @include first-letter();
    }
    &-icon {
      max-width: 30px;
      max-height: 30px;
      fill: $gray;
      margin-bottom: -5px;
    }
  }
  &__sub-ul {
    padding: 0px;
    color: $neutral;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));


    &--closed {
      display: none;
    }
  }
  &__sub-li {
    @include flex-center();
    padding: 10px 15px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    &-img {
      max-width: 30px;
      padding-right: 10px;
    }
  }
}

.carousel {
  .slide {
    max-height: 500px;

    @media screen and (max-width: $small) {
      max-height: 250px;
    }
    & img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top;
         object-position: top;
    }
    .legend {
      opacity: 1;
      border-radius: 0px;
      text-decoration: none;
      -webkit-box-shadow: 5px 5px 15px -10px #000000;
              box-shadow: 5px 5px 15px -10px #000000;
    }
  }
}


.block {
  background-color: $neutral;
  color: $dark_gray;
  -webkit-box-shadow: 5px 5px 15px -10px darken($gray, 25%);
          box-shadow: 5px 5px 15px -10px darken($gray, 25%);

  &--full {
    grid-column: 1/-1;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  &__heading {
    margin: 0px;
    padding: 7px 10px;
    text-align: center;
    color: $neutral;
    font-size: .9em;
    min-height: 15px;
  }
  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @include data-container-items();
  }
  &__tr {
    @include data-container-items();
    &-heading {
      font-size: 11px;
      color: darken($gray, 20%);
      min-height: 10px;
      text-align: center;
      border-bottom: solid 1px $gray;
      padding: 5px;
      &--left {
        text-align: left;
      }
    }
  }
  &__item {
    padding: $item-padding;
    &--grow {
      width: 100%;
    }
    &--center {
      text-align: center;
    }
  }
  &--news {
    .text-row {
      height: 6em!important;
    }
  }
  &__placeholder {
    height: 25px;
    background: #eeeeee;
    margin: 15px;
  }

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: $item-padding;
  min-height: 70px;

  &--yesterday {
    grid-template-columns: 1fr 2fr;
  }

  &__detail {
    grid-row: 1/span 2;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    @media screen and (max-width: $small){
      font-size: 1.5em;
    }
    &:only-child {
      grid-column: 1 / -1;
    }
  }
  &__team {
    padding: 5px;
    font-weight: 700;
    font-size: 1.2em;
    @media screen and (max-width: $small){
      font-size: 1em;
    }
    &--away {
      border-bottom: solid 1px $gray;
      padding-bottom: 10px;
    }
  }
}

.standings {
  &__team {
    &-name {
      @media screen and (max-width: $small){
        display: none;
      }
    }
    &-abbreviation {
      @media screen and (min-width: $small) {
        display: none;
      }
    }
  }
}

.span {
  &--bold {
    font-weight: bold;
  }
  &--transparent {
    opacity: .75;
  }
  &--italic {
    font-style: italic;
  }
  &--large {
    font-size: 1.1em;
  }
  &--small {
    font-size: .8em;
  }
}

.text {
  &-block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: $item-padding;
  }
  &-row {
    width: 100%!important;
    height: 2em!important;
  }
}

.text {
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

.footer {
  &__content {
    @include container();
    padding: $item-padding / 2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  &__a {
    color: $neutral;
    font-size: .7em;
    text-decoration: none;
    letter-spacing: 1.5px;
    opacity: .5;
    &:hover, &:focus {
      font-weight: bold;
    }
  }
}

.loader {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  &__img {
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 2500ms;
            animation-duration: 2500ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
}
