body {
  margin: 0px;
}

.nav {
  &__ul {
    margin: 0px;
    padding: 15px;
  }
  &__li {
    display: block;
    &:hover {
      cursor: pointer;
    }
    &-img {
      max-width: 100px;
    }
    &-h1 {
      display: inline-block;
    }
  }
  &__sub-ul {
    &--closed {
      display: none;
    }
  }
  &__sub-li {
    display: block;
    &:hover {
      cursor: pointer;
    }
    
    &-img {
      max-width: 50px;
    }
  }
}